<div class="home-container">
    <app-card
      gameCover="assets/bt-1.jpg"
      gameLabel="Digital"
      gameType="Full Game | PS4"
      gamePrice="R$ 249,90"
    >
    </app-card>
    <app-card
      gameCover="assets/bt-4.jpg"
      gameLabel="Exclusive"
      gameType="Full Game | PS4"
      gamePrice="R$ 199,90"
    >
    </app-card>
    <app-card
      gameCover="assets/bt-5.jpg"
      gameLabel="Exclusive"
      gameType="Full game | PS4"
      gamePrice="R$ 329,90"
    >
    
    </app-card>
    <app-card
      gameCover="assets/ac-cover.jpg"
      gameLabel="Exclusive"
      gameType="Full Game | PS4"
      gamePrice="R$ 75,90"
    >
    </app-card>
    <app-card
      gameCover="assets/bt-bad-company-2.jpg"
      gameLabel="Digital"
      gameType="Full Game | PS4"
      gamePrice="R$ 59,90"
    >
    </app-card>
    <app-card
      gameCover="assets/bt-hardline.jpg"
      gameLabel="Digital"
      gameType="Full game | PS4"
      gamePrice="R$ 99,90"
    >
    
    </app-card>
</div>
